html, body {
  margin: 1rem;
  font-size: 16px; }

* {
  box-sizing: border-box; }

body {
  color: #fff;
  background-color: #000;
  font-family: 'NewRailAlphabet', Helvetica, sans-serif; }

h1 {
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 0; }

h2 {
  font-size: 2.8rem;
  margin-bottom: 0; }

h3 {
  font-size: 2rem;
  margin-bottom: 0; }

h4 {
  font-size: 1.4rem;
  margin-bottom: 0; }

p {
  font-size: 1rem;
  margin: 0; }

button, input, optgroup, select, textarea {
  font-family: 'NewRailAlphabet', Helvetica, sans-serif; }

.main {
  max-width: 1000px;
  margin: 0 auto; }

.flex {
  display: flex;
  justify-content: center;
  margin: 0 -1rem; }

form.options label, form.options input {
  font-size: 1.5rem; }

form.options label {
  padding: 1rem;
  display: block;
  flex-grow: 1; }

form.options input {
  width: 100%;
  padding: 0.5rem; }

.boards {
  margin-bottom: 1rem; }
  .boards label {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    margin: 1rem;
    padding: 1rem;
    color: white;
    cursor: pointer;
    max-width: 33.333%; }
    .boards label input[type=radio] {
      position: absolute;
      top: -9999px;
      visibility: hidden; }
    .boards label:hover, .boards label:focus {
      background-color: rgba(255, 255, 255, 0.2); }
    .boards label.selected {
      background-color: rgba(255, 255, 255, 0.3); }
    .boards label img {
      width: 100%;
      height: auto; }

.departureEntry {
  margin: 1rem 0;
  background-color: #111; }
  .departureEntry p {
    font-size: 2.5rem; }

.departuresHeadings p {
  font-weight: 600;
  font-size: 2.3rem; }

.departureRow p, .departuresEnd p {
  color: orange;
  font-family: 'dotMatrix', sans-serif; }

.departureRow, .departuresHeadings {
  display: flex;
  flex-wrap: wrap;
  height: 46px;
  overflow: hidden; }
  .departureRow p a, .departureRow div a, .departuresHeadings p a, .departuresHeadings div a {
    color: inherit;
    text-decoration: none; }
  .departureRow p.centre, .departureRow div.centre, .departuresHeadings p.centre, .departuresHeadings div.centre {
    text-align: center; }
  .departureRow p.std, .departureRow p.opStdPad, .departureRow div.std, .departureRow div.opStdPad, .departuresHeadings p.std, .departuresHeadings p.opStdPad, .departuresHeadings div.std, .departuresHeadings div.opStdPad {
    min-width: 120px; }
  .departureRow p.destinationName, .departureRow div.destinationName, .departuresHeadings p.destinationName, .departuresHeadings div.destinationName {
    min-width: 580px;
    padding-right: 1rem; }
  .departureRow p.platform, .departureRow div.platform, .departuresHeadings p.platform, .departuresHeadings div.platform {
    min-width: 100px;
    text-transform: capitalize;
    text-align: right; }
  .departureRow p.etd, .departureRow div.etd, .departuresHeadings p.etd, .departuresHeadings div.etd {
    min-width: 200px;
    text-align: right; }
  .departureRow p.operator, .departureRow div.operator, .departuresHeadings p.operator, .departuresHeadings div.operator {
    min-width: 800px; }
  .departureRow p.delayReason, .departureRow p.errorMessage, .departureRow div.delayReason, .departureRow div.errorMessage, .departuresHeadings p.delayReason, .departuresHeadings p.errorMessage, .departuresHeadings div.delayReason, .departuresHeadings div.errorMessage {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .departureRow p.errorMessage, .departureRow div.errorMessage, .departuresHeadings p.errorMessage, .departuresHeadings div.errorMessage {
    width: 100%; }
  .departureRow .calling, .departuresHeadings .calling {
    white-space: nowrap;
    position: relative;
    transition: 1s linear top;
    right: -800px;
    top: -92px; }
  .departureRow .operator, .departureRow .opStdPad, .departuresHeadings .operator, .departuresHeadings .opStdPad {
    position: relative;
    top: 0px; }
  .departureRow .departureUpdated, .departuresHeadings .departureUpdated {
    animation: departureUpdated 2s 10 step-end; }

@keyframes departureUpdated {
  0% {
    color: orange; }
  50% {
    color: transparent; }
  100% {
    color: orange; } }

.departuresEnd {
  display: flex;
  justify-content: space-between;
  background-color: #111; }
  .departuresEnd p {
    font-size: 2.5rem;
    font-weight: 500;
    color: orange; }
/*# sourceMappingURL=style.css.map */