@font-face {
    font-family: 'dotMatrix';
    src: url('dotmatrix/dotmatri-webfont.woff2') format('woff2'),
         url('dotmatrix/dotmatri-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'dotMatrix';
    src: url('dotmatrix/dotmbold-webfont.woff2') format('woff2'),
         url('dotmatrix/dotmbold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NewRailAlphabet';
    src: url('newrail/NewRailAlphabet-White.woff') format('woff'),
        url('newrail/NewRailAlphabet-White.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NewRailAlphabet';
    src: url('newrail/NewRailAlphabet-Medium.woff') format('woff'),
        url('newrail/NewRailAlphabet-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'NewRailAlphabet';
    src: url('newrail/NewRailAlphabet-Bold.woff') format('woff'),
        url('newrail/NewRailAlphabet-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
