html, body {
  margin: 1rem;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #000;
  font-family: 'NewRailAlphabet', sans-serif; // "Gill Sans", "Gill Sans MT", Calibri, 
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}
h2 {
  font-size: 2.8rem;
  margin-bottom: 0;
}
h3 {
  font-size: 2rem;
  margin-bottom: 0;
}
h4 {
  font-size: 1.4rem;
  margin-bottom: 0;
}
p {
  font-size: 1rem;
  margin: 0;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.departureEntry {
  margin: 1rem 0;
  background-color: #111;

  p {
    font-size: 2.5rem;
  }

  &:nth-child(even) {
    
  }
}

.departuresHeadings {
  p {
    font-weight: 600;
    font-size: 2.3rem;
  }
}
.departureRow, .departuresEnd {
  p {
    color: orange;
    font-family: 'dotMatrix', sans-serif;
  }
}
.departureRow, .departuresHeadings {
  display: flex;
  flex-wrap: wrap;
  height: 46px;
  overflow: hidden;

  p, div {
    //margin-right: 1rem;

    a {
      color: inherit;
      text-decoration: none;
    }

   &.std, &.opStdPad {
     min-width: 120px; 
   }
   &.destinationName {
     min-width: 580px; 
     padding-right: 1rem;
   }
   &.platform {
     min-width: 100px; 
     text-transform: capitalize;
   }
   &.etd {
     min-width: 200px; 
   }
   &.operator {
     min-width: 800px; 
   }
   &.delayReason {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
   }
  }
  .calling {
    white-space: nowrap;
    position: relative;
    transition: 1s linear top;
    right: -800px;
    top: -92px;
  }
  .operator, .opStdPad {
    position: relative;
    top: 0px;
  }
}

.departuresEnd {
  display: flex;
  justify-content: space-between;
  background-color: #111;

  p {
    font-size: 2.5rem;
    font-weight: 500;
    color: orange;
  }
}