html, body {  
  font-size: 16px;
  margin: 1rem;
}

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #000;
  font-family: 'NewRailAlphabet', Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 0;
}
h2 {
  font-size: 2.8rem;
  margin-bottom: 0;
}
h3 {
  font-size: 2rem;
  margin-bottom: 0;
}
h4 {
  font-size: 1.4rem;
  margin-bottom: 0;
}
p {
  font-size: 1rem;
  margin: 0;
}
button, input, optgroup, select, textarea {
  font-family: 'NewRailAlphabet', Helvetica, sans-serif;
}

.main {
  max-width: 62.5rem;
  margin: 0 auto;

  &.changed {
    .departuresList {
      .departureEntry {
        &.heading > * {
          opacity: 0;
          animation: fadeIn 0.5s linear forwards;
        }
        &.callingHeading p, p.serviceInformation {
          opacity: 0;
          animation: fadeIn 0.5s 0.25s linear forwards;
        }
      }
      .calling .departureEntry p {
        opacity: 0;
        animation: fadeIn 0.5s 0.25s linear forwards;
      }
    }
  }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.flex {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 0 -1rem;
}

form.options {
  .inputGroup {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  label, input {
    font-size: 1.5rem;
  }
  label {
    padding: 1rem;
    display: block;
    flex-grow: 1;
  }
  input {
    width: 100%;
    padding: 0.5rem;

    &#station {
    }
  }

}
.boards {
  margin-bottom: 1rem;

  label {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.125rem solid white;
    margin: 1rem;
    padding: 1rem;
    color: white;
    cursor: pointer;
    max-width: 33.333%;

    input[type=radio] {
      position: absolute;
      top: -624.938rem;
      visibility: hidden;
    }

    &:hover, &:focus {
      background-color: rgba(255, 255, 255, 0.2);
    }
    &.selected {
      background-color: rgba(255, 255, 255, 0.3);
     }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.departureEntry {
  margin: 1rem 0;
  background-color: #111;

  p {
    font-size: 2.5rem;
  }
  &.heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 5.7025rem;

    .departureTime {
      flex-basis: 30%;
    }
    .headingRight {
      flex-basis: 70%;
      text-align: right;

      &.timePlat {
        &.animate {
          p {
            position: relative;
          }
          p:first-child {
            animation: timePlat 10s infinite step-end;
          }
          p:last-child {
            animation: timePlat 10s infinite step-end;
          }
        }
      }
    }
  }
}
@keyframes timePlat {
  0% {
    bottom: 0%;
  }
  50% {
    bottom: 100%;
  }
  100% {
    bottom: 0%;
  }
}
.departuresDetailed .departureEntry {
  p {
    font-size: 3.5rem;
  }
  &.bold {
    p {
      font-size: 5rem;
    }
  }
}

.departuresHeadings {
  p {
    font-weight: 600;
    font-size: 2.3rem;
  }
}
.departureEntry, .departureRow, .departuresEnd {
  p {
    color: orange;
    font-family: 'dotMatrix', sans-serif;

    &.serviceInformation {
      white-space: nowrap;
      position: relative;
      left: -0%;
      display: inline-block;
    }
  }
}
.departureRow, .departuresHeadings, .callingRow {
  display: flex;
  flex-wrap: wrap;
  height: 2.875rem;
  overflow: hidden;

  p, div {

    a {
      color: inherit;
      text-decoration: none;
    }

    &.centre {
      text-align: center;
    }

    &.std, &.opStdPad {
      min-width: 7.5rem; 
    }
    &.destinationName {
      padding-right: 1rem;
      width: 36.25rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &.callingLocation {
      width: 51.5rem;
      padding-right: 1rem;
      text-overflow: ellipsis;
    }
    &.platform {
      min-width: 6.25rem; 
      text-transform: capitalize;
      text-align: right;
    }
    &.etd {
      min-width: 12.5rem; 
      text-align: right;
    }
    &.callingTime {
      text-align: right;
      width: 11rem;
    }
    &.operator {
      min-width: 50rem; 
    }
    &.delayReason, &.errorMessage {
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
    }
    &.errorMessage {
      width: 100%;
    }
  }
  .calling {
    white-space: nowrap;
    position: relative;
    transition: 1s linear top;
    right: -50rem;
    top: -5.75rem;
  }
  .operator, .opStdPad {
    position: relative;
    top: 0rem;
  }
  .departureUpdated {
    animation: departureUpdated 2s 10 step-end;
  }
}

.calling {
  .departureEntry {
    &.hidden {
      display: none;
    }
    &:nth-child(n+18) {
      //display: none;
    }
  }
  .callingRow {
    height: auto;
  }
}

@keyframes departureUpdated {
  0% { color: orange; }
  50% { color: transparent; }
  100% { color: orange; }
}

.departuresEnd {
  display: flex;
  justify-content: space-between;
  background-color: #111;

  p {
    font-size: 2.5rem;
    font-weight: 500;
    color: orange;
  }
}

@media all and (max-width: 1079px) {
  html, body {
    margin: 1rem;
    font-size: 11.4px;
  }
}