html, body {
  font-size: 5.3px;
  height: 100%; }

@media all and (min-width: 768px) {
  html, body {
    font-size: 14.2222px; } }

@media all and (min-width: 1080px) {
  html, body {
    font-size: 20px; } }

@media all and (min-width: 1440px) {
  html, body {
    font-size: 26.6666px; } }

@media all and (min-width: 2160px) {
  html, body {
    font-size: 40px; } }

* {
  box-sizing: border-box; }

body {
  --bkColor: #000;
  --rowColor: #111;
  --titleColor: #fff;
  --ledOnColor: #FFA500;
  --ledOffColor: #151515;
  --ledSize: 0.25rem;
  padding: 0.75rem;
  color: var(--titleColor);
  background-color: var(--bkColor);
  font-family: 'NewRailAlphabet', Helvetica, sans-serif;
  display: flex;
  align-items: center; }

h1 {
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0; }

h2 {
  font-size: 2.8rem;
  margin-bottom: 0; }

h3 {
  font-size: 2rem;
  margin-bottom: 0; }

h4 {
  font-size: 1.4rem;
  margin-bottom: 0; }

p {
  font-size: 1rem;
  margin: 0; }

strong {
  font-weight: 500; }

button, input, optgroup, select, textarea {
  font-family: 'NewRailAlphabet', Helvetica, sans-serif; }

.main .departures {
  width: 100%;
  border: 0;
  border-collapse: collapse;
  table-layout: fixed; }
  .main .departures tr {
    border-bottom: 1.25rem solid var(--bkColor); }
    .main .departures tr th, .main .departures tr td {
      border: 0;
      padding: 0;
      text-align: left; }
      .main .departures tr th:nth-child(1), .main .departures tr th:nth-child(2), .main .departures tr td:nth-child(1), .main .departures tr td:nth-child(2) {
        padding-right: 1rem; }
      .main .departures tr th:nth-child(3), .main .departures tr th:nth-child(4), .main .departures tr td:nth-child(3), .main .departures tr td:nth-child(4) {
        padding-left: 1rem; }
      .main .departures tr th:last-child, .main .departures tr td:last-child {
        padding-right: 0; }
      .main .departures tr th.dPlat, .main .departures tr td.dPlat {
        text-transform: capitalize; }
  .main .departures thead th {
    font-size: 2rem; }
    .main .departures thead th#dTime {
      width: 6.5rem; }
    .main .departures thead th#dDest {
      min-width: 12rem; }
    .main .departures thead th#dPlat {
      width: 7.5rem; }
    .main .departures thead th#dExp {
      width: 11rem; }
  .main .departures thead th:nth-child(1), .main .departures thead th:nth-child(2), .main .departures thead td:nth-child(1), .main .departures thead td:nth-child(2), .main .departures tbody th:nth-child(1), .main .departures tbody th:nth-child(2), .main .departures tbody td:nth-child(1), .main .departures tbody td:nth-child(2) {
    text-align: left; }
  .main .departures thead th:nth-child(3), .main .departures thead th:nth-child(4), .main .departures thead td:nth-child(3), .main .departures thead td:nth-child(4), .main .departures tbody th:nth-child(3), .main .departures tbody th:nth-child(4), .main .departures tbody td:nth-child(3), .main .departures tbody td:nth-child(4) {
    text-align: right; }
  .main .departures tbody tr, .main .departures tfoot tr {
    position: relative;
    z-index: 1; }
  .main .departures tbody td, .main .departures tfoot td {
    color: var(--ledOnColor);
    font-family: 'DotMatrix', sans-serif;
    font-size: 2.5rem;
    position: relative;
    z-index: 1;
    background: var(--ledOffColor);
    background-size: 0.25rem;
    background-repeat-y: no-repeat;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 0.05rem; }
    .main .departures tbody td.dataChanged, .main .departures tfoot td.dataChanged {
      animation: departureUpdated 2s 10 step-end; }
    @media all and (min-width: 1080px) {
      .main .departures tbody td, .main .departures tfoot td {
        line-height: 2.25rem;
        background: url(../assets/ledcol.svg); } }
  .main .departures tfoot tr {
    font-weight: 500;
    border-bottom: 0; }
    .main .departures tfoot tr td .clock {
      float: right;
      text-align: right; }

@keyframes departureUpdated {
  0% {
    color: var(--ledOnColor); }
  50% {
    color: transparent; }
  100% {
    color: var(--ledOnColor); } }

.page .page__number {
  display: inline-block;
  min-width: 2.25rem;
  text-align: center; }

.clock {
  font-weight: 700; }
  .clock .clock__group {
    width: 4.5rem;
    display: inline-block;
    display: inline-block;
    margin: 0 0.25rem; }
    .clock .clock__group:last-child {
      margin-right: 0; }
    .clock .clock__group--small {
      font-weight: 600; }
  .clock .clock__number {
    display: inline-block;
    min-width: 2.25rem;
    text-align: center; }

.status {
  display: inline-block;
  margin: 0 1rem; }
  .status--disconnected::after {
    content: "X"; }

/*# sourceMappingURL=style.css.map */