@use '~normalize.css/normalize';
@use '~vuejs-dialog/dist/vuejs-dialog.min';
@use 'tooltip';
@use 'fonts';
@use 'main';
@use 'board';

html {
  box-sizing: border-box;
  font-family: 'New Rail Alphabet', 'Helvetica', 'Arial', sans-serif;
}

body {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
}
