html, body {  
  font-size: 5.3px;
  height: 100%;
}

@media all and (min-width: 768px) {
  html, body {
    font-size: 14.2222px;
  }
}

@media all and (min-width: 1080px) {
  html, body {
    font-size: 20px;
  }
}
@media all and (min-width: 1440px) {
  html, body {
    font-size: 26.6666px;
  }
}
@media all and (min-width: 2160px) {
  html, body {
    font-size: 40px;
  }
}

* {
  box-sizing: border-box;
}

body {
  --bkColor: #000;
  --rowColor: #111;
  --titleColor: #fff;
  --ledOnColor: #FFA500;
  --ledOffColor: #151515;
  --ledSize: 0.25rem;


  padding: 0.75rem;
  color: var(--titleColor);
  background-color: var(--bkColor);
  font-family: 'NewRailAlphabet', Helvetica, sans-serif;

  &.board {
    display: flex;
    align-items: center;
  }
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
}
h2 {
  font-size: 2.8rem;
  margin-bottom: 0;
}
h3 {
  font-size: 2rem;
  margin-bottom: 0;
}
h4 {
  font-size: 1.4rem;
  margin-bottom: 0;
}
p {
  font-size: 1rem;
  margin: 0;
}
strong {
  font-weight: 500;
}
button, input, optgroup, select, textarea {
  font-family: 'NewRailAlphabet', Helvetica, sans-serif;
}

.flex {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 0 -1rem;
}

form.options {
  .inputGroup {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  label, input {
    font-size: 1.5rem;
  }
  label {
    padding: 1rem;
    display: block;
    flex-grow: 1;
  }
  input {
    width: 100%;
    padding: 0.5rem;

    &#station {
    }
  }
}
.boards {
  margin-bottom: 1rem;

  label {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.125rem solid white;
    margin: 1rem;
    padding: 1rem;
    color: white;
    cursor: pointer;
    max-width: 33.333%;

    input[type=radio] {
      position: absolute;
      top: -624.938rem;
      visibility: hidden;
    }

    &:hover, &:focus {
      background-color: rgba(255, 255, 255, 0.2);
    }
    &.selected {
      background-color: rgba(255, 255, 255, 0.3);
     }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.main {
  .departures {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    table-layout: fixed;

    tr {
      border-bottom: 1.25rem solid var(--bkColor);

      th, td {
        border: 0;
        padding: 0;
        text-align: left;

        &:nth-child(1), &:nth-child(2) {
          padding-right: 1rem;
        }
        &:nth-child(3), &:nth-child(4) {
          padding-left: 1rem;
        }
        &:last-child {
          padding-right: 0;
        }
        &.dTime {
        }
        &.dDest {
        }
        &.dPlat {
          text-transform: capitalize;
        }
        &.dExp {
        }
      }
    }
    thead {
      tr {
        //border: 0;
      }
      th {
        font-size: 2rem;
        &#dTime {
          width: 6.5rem;
        }
        &#dDest {
          min-width: 12rem;
        }
        &#dPlat {
          width: 7.5rem;
        }
        &#dExp {
          width: 11rem;
        }
      }
    }
    thead, tbody {
      th, td {
        &:nth-child(1), &:nth-child(2) {
          text-align: left;
        }
        &:nth-child(3), &:nth-child(4) {
          text-align: right;
        }
      }
    }
    tbody, tfoot {
      tr {
        position: relative;
        z-index: 1;
      }
      td {
        color: var(--ledOnColor);
        font-family: 'DotMatrix', sans-serif;
        font-size: 2.5rem;
        position: relative;
        z-index: 1;
        background: var(--ledOffColor);
        background-size: 0.25rem;
        background-repeat-y: no-repeat;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-top: 0.05rem;

        &.dataChanged {
          animation: departureUpdated 2s 10 step-end;
        }

        @media all and (min-width: 1080px) {
          line-height: 2.25rem;
          background: url(../assets/ledcol.svg);
        }
      }
    }
    tfoot {
      tr {
        font-weight: 500;
        border-bottom: 0;

        td {
          .clock {
            float: right;
            text-align: right;
          }
        }
      }
    }
  }
}

@keyframes departureUpdated {
  0% { color: var(--ledOnColor); }
  50% { color: transparent; }
  100% { color: var(--ledOnColor); }
}

.page {
  .page__number {
    display: inline-block;
    min-width: 2.25rem;
    text-align: center;
  }
}

.clock {
  font-weight: 700;
  .clock__group {
    width: 4.5rem;
    display: inline-block;
    display: inline-block;
    margin: 0 0.25rem;
    &:last-child {
      margin-right: 0;
    }
    &--small {
      font-weight: 600;
    }
  }
  .clock__number {
    display: inline-block;
    min-width: 2.25rem;
    text-align: center;
  }
}

.status {
  display: inline-block;
  margin: 0 1rem;

  &--disconnected::after {
    content: "!";
  }
}

.aspectRatio {
  width: 100%;
  position: relative;

  &--sixteenByNine {
    padding-top: 56.25%;
  }

  .aspectRatio__element {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.ytPlayerCont {
  margin-bottom: 1rem;
  display: none;
}
