@use 'mixins';

.App--Board {
  --TextColor: #fff;
  --TextColorOrange: #ff8f00;

  @include mixins.fluid-type(320px, 1920px, 14px, 85px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  font-size: 14px;
  font-family: 'New Rail Alphabet', 'Helvetica', 'Arial', sans-serif;
  background: #000;
}

.Board {
  padding: 0 0.25em;
  overflow: auto;
}

.Board--HideCursor {
  cursor: none;
}

.Board h1 {
  margin: 0.25em 0 0.07em;
  font-size: 1.25em;
  text-transform: capitalize;
}

.Service {
  color: var(--TextColorOrange);
  font-family: 'Dot Matrix', sans-serif;
  line-height: 1;
  border-top: 0.45em solid #000;
  border-bottom: 0.45em solid #000;

  td {
    position: relative;
    z-index: 1;
    padding: 0;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      overflow: hidden;
      color: #151515;
      font-weight: normal;
      content: '||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||';
    }
  }
}

.Service__Location {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Service__Platform {
  text-transform: uppercase;
}

.Service__Changed {
  animation: changed 1s step-end infinite alternate;
}

.Services {
  width: 100%;
  text-align: left;
  table-layout: fixed;
  border: 0;
  border-collapse: collapse;

  th {
    font-size: 0.85em;
  }

  th,
  td {
    vertical-align: top;

    &:last-child,
    &:nth-last-child(2) {
      text-align: right;
    }
  }

  tfoot {
    color: var(--TextColorOrange);
    font-weight: 500;
    font-family: var(--FontFamilyDot);

    td:first-child {
      text-align: left;
    }
  }
}

.Service--Filler {
  td {
    &:last-child,
    &:nth-last-child(2) {
      text-align: left;
    }
  }
}

.Services__Time {
  width: 2.9em;
}

.Services__Platform {
  width: 2.4em;
}

.Services__Expected {
  width: 5.8em;
}

.Services__Footer > .Service:last-child {
  border-bottom: 0;
}

.Clock {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;

  > span {
    display: inline-block;
    text-align: center;
  }
}

.Clock__Hours,
.Clock__Minutes,
.Clock__Seconds {
  min-width: 0.91em;
}

.Clock__Seconds {
  font-weight: 600;
}

@keyframes changed {
  50% {
    color: transparent;
  }
}
