.board {
    cursor: none;
}

.service {
  font-family: $font-family-dot;
  color: $text-color--orange;
  border-bottom: 0.45rem solid black;
  border-top: 0.45rem solid black;
  line-height: 1;

  td {
    padding: 0;
    position: relative;

    &::before {
      content: "||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||";
      color: #151515;
      font-weight: normal;
      position: absolute;
      z-index: -1;
      overflow: hidden;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  &__location {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

  &__platform {
    text-transform: uppercase;
  }

  &__changed {
    animation: changed 1s step-end infinite alternate;
  }
}

.services {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 0;
  text-align: left;

  th {
    font-size: 0.85rem;
  }

  th, td {
    vertical-align: top;

    &:last-child,
    &:nth-last-child(2) {
      text-align: right;
    }
  }

  &__time {
    width: 2.5rem;
  }

  &__platform {
    width: 2rem;
  }

  &__expected {
    width: 5rem;
  }

  tfoot {
    font-family: $font-family-dot;
    font-weight: 500;
    color: $text-color--orange;

    td:first-child {
      text-align: left;
    }
  }
}

.clock {
  font-weight: 700;
  display: flex;
  justify-content: flex-end;

  & > span {
    display: inline-block;
    text-align: center;
  }

  &__hours,
  &__minutes,
  &__seconds {
    min-width: 0.91rem;
  }

  &__seconds {
    font-weight: 600;
  }
}


@keyframes changed {
  50% {
    color: transparent;
  }
}


