html, body {
  margin: 0;
}

html {
  font-size: 13px;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  background: $body-bg;
  color: $text-color;
  font-family: $font-family-sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.25rem;
  margin: $column-gutter 0 0.07rem;
}
